{{ define "main" }}
<article class="project-card project-card-full">
  <div class="project-header">
    {{ if .Params.difficulty }}
    {{ partial "badge-difficulty" .Params.difficulty }}
    {{ end }}
    {{ if .Params.ctfPlatform }}
    {{ partial "badge-platform" .Params.ctfPlatform }}
    {{ end }}
  </div>

  <h1 class="project-title" style="font-size:24px;margin-bottom:12px">{{ .Title }}</h1>

  {{ with .Params.description }}
  <p class="project-desc" style="margin-bottom:24px">{{ . }}</p>
  {{ end }}

  <time class="text-text-dim text-sm flex items-center gap-2 mb-8" datetime="{{ .Date.Format " 2006-01-02" }}">
    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
    </svg>
    {{ .Date.Format "January 2, 2006" }}
  </time>

  <hr style="border-color: rgba(51,65,85,0.4);" class="mt-8 mb-0">

  <div class="prose max-w-none mb-8">
    {{ .Content }}
  </div>

  <hr style="border-color: rgba(51,65,85,0.4);" class="mt-8 mb-0">


  <div class="pt-8 mb-2 space-y-8 project-links">
    <a style="font-size: 14px;" href="{{ .CurrentSection.RelPermalink }}">← Back to {{ .CurrentSection.Title }}</a>
  </div>
</article>
{{ end }}